/*
.article-metadata {
    display: none;
}

.docs-sidebar {
    flex: 0 1 320px;
    display: none;
}
*/

/*Nascondi sottotitolo dei risultati di ricerca*/

.docs-article-container {
    max-width: 1320px;
}

.search-hit-type {
    display: none;
}

.body-footer p {
    display: none;
}

table {
    width: 100%;
    overflow-x: scroll!important;
}

table thead {
    color: #4eff01;
}

.middot-divider {
    display: none;
}


