/*
.article-metadata {
    display: none;
}

.docs-sidebar {
    flex: 0 1 320px;
    display: none;
}
*/

/*Nascondi sottotitolo dei risultati di ricerca*/
.search-hit-type {
    display: none;
}

.body-footer p {
    display: none;
}

table {
    width: 100%;
}

table thead {
    color: #4eff01;
}

.middot-divider {
    display: none;
}


.newvegas a {
    color: orange;
}